/* Toolbar container */
.pipeline-toolbar {
  padding: 10px;

  /* background-color: red; */

  width: 100%;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;


}

/* Node list container */
.toolbar-nodes {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}


